.aboutMain{
    padding: 8em 0;
    background-position: 20%;
    background-image: linear-gradient(rgba(2, 2, 16, 0.515), rgba(3, 21, 44, 0.364)),
                  url("../../images/digital-world-map-hologram-blue-background.jpg");
                  min-height: 100vh;
}

.allAboutInfo{
    padding: 1.5em 4em;
    background-color:#0D1430;
    /* color: #B9244C; */
 
    width: 70%;
    margin: 0 auto;
}
.aboutMain {
   
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.aboutMain p {
    margin: 10px 0;
    color: #a7a2a2;
}

.aboutMain ul {
    list-style-type: disc;
    margin-left: 20px;
}

.aboutMain ul li {
    margin-bottom: 10px;
    color: #a7a2a2;
}

.aboutMain strong {
    color: green;
}


@media screen and (max-width: 768px) {
    .otherAboutText p {
        padding-bottom: 3em;
        width: 100%;
        margin: 0 auto;
        line-height: 1.8rem;
        font-size: 1rem;
    }
    .allAboutInfo {
        padding: 1.5em 1em;
        width: 95%;
        margin: 0 auto;
    }
    .aboutMain {
        padding: 4em 0;
    }
    .aboutMain h1, h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .aboutMain ul {
        margin-left: -1.5em;
    }
}